body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #6d5656;
}

header {
  background-color: #6d5656;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  background-color: #fff;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #6d5656;
  color: #fff;
}
